<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoItX.Dotnet" version="3.3.14.2" targetFramework="net451" />
  <package id="log4net" version="2.0.8" targetFramework="net451" />
  <package id="Microsoft.Expression.Encoder" version="4.0.4276.4" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net451" />
  <package id="NUnit" version="2.6.4" targetFramework="net451" />
  <package id="NUnitTestAdapter" version="2.1.1" targetFramework="net451" />
  <package id="Selenium.Chrome.WebDriver" version="2.37" targetFramework="net451" />
  <package id="Selenium.Firefox.WebDriver" version="0.20.0" targetFramework="net451" />
  <package id="Selenium.Support" version="3.9.1" targetFramework="net451" />
  <package id="Selenium.WebDriver" version="3.9.1" targetFramework="net451" />
  <package id="Selenium.WebDriver.IEDriver" version="3.11.1" targetFramework="net451" />
  <package id="SpecFlow" version="2.1.0" targetFramework="net451" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net451" />
</packages>